<div id="app">
  <div class="logo">
    <h1>Hikoo</h1>
  </div>

  <div class="search-area">
    <div>
      <input autocomplete="off" type="text" name="email" id="email" placeholder="email" [(ngModel)]="email">
    </div>
    <div class="button-container">
      <div class="button" (click)="onSearchClick()">search</div>
      <div *ngIf="imageLoaded" class="button" (click)="onRetryClick()" style="margin-left: 8px;">retry</div>
    </div>
  </div>

  <div class="user-container">
    <div>
      <img #selfie crossorigin="anonymous" id="photo" *ngIf="user !== null" [src]="user.image" width="200"
        (load)="onImageLoad()" />
    </div>
    <div>
      <div *ngIf="imageLoaded">
        {{ user.firstName }} {{ user.lastName }}
      </div>
    </div>
  </div>
  <div class="instance-container">
    <div #authInstance id="instance"></div>
  </div>
</div>