/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";

* {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

input {
  background: white;
  color: #3a3a3a;
  border-width: 0px;
  border-radius: 5px;
  padding: 10px;
}

.button {
  padding: 5px 20px 5px 20px;
  display: inline-block;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 18px;
  color: white;
  cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

// video {
//   position: fixed !important;
//   visibility: hidden !important;
//   transform: scaleX(-1) !important;
//   top: 9px !important;
//   left: 8px !important;
//   width: 346.25px !important;
// }

canvas {
  max-width: 300px !important;
}

video {
  left: initial !important;
  top: initial !important;
  position: absolute !important;
  max-width: 300px !important;
  max-height: 300px !important;
}

#loadingDiv {
  left: initial !important;
  top: initial !important;
  position: relative !important;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
